<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Dss\RecentView\Api\RecentViewInterface" 
                type="Dss\RecentView\Model\RecentViewData"/>
    <preference for="Dss\RecentView\Api\GetPageRecentViewInterface"
                type="Dss\RecentView\Model\GetPageRecentViewData"/>
</config>
